main{
    height: 100vh;
}

.logo >img{
    width: 80px;
}

.main-title{
    color: white;
    padding-top: 40px;
    padding-bottom: 50px;
}

.card >img{
    max-width: 170px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
}

.card{
    margin: 0 auto;
}

.info-js > .col{
    padding-bottom: 6px;
    display: flex;
    justify-content: end;
}